h1{
    text-align: center;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

#date{
    text-align: center;
    padding: 2px;
}

a{
    margin: 10px 2px;
}

#markdown{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5rem;
    font-size: 1.1rem;
}